
/*-------------------footer-----------------*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 60xp 0xp;
  background-color: #b6c4c7 ;
  color: white;
  text-align: center;

}
body {
  background-image: url("./img/healthcare.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #cccccc;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.login-box{
    width: 800px;
    height: 500px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    background: transparent;
}
.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="date"], input[type="time"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box input[type="textarea"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    width:600px;
    color: #fff;
    font-size: 16px;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #484848;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #808080;
    color: white;
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: #39dc79;
}

.login-box h1 {
	 margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 40px;
    color : white;
}
	
/*.button {
  transition-duration: 0.4s;
  border-radius: 12px;
  font-size: 16px;
  padding: 10px 24px;
  background-color: #484848;
  color : white;
}

.button:hover {
  background-color: #808080;
  color: white;
}
.leg {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 0px;
  margin-left: 300px;
   background-color : #cce6ff;
}
*/

/*#8ee7f4; #65d9f2 ; aecdd4 */
/*------------------patient login box------------------------------*/
.login-box-pat{
    width: 800px;
    height: 590px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box-pat label{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box-pat input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box-pat input[type="text"], input[type="date"], input[type="time"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box-pat input[type="textarea"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    width: 600px;
    color: #fff;
    font-size: 16px;
}
.login-box-pat input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #484848;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}
.login-box-pat input[type="submit"]:hover
{
    cursor: pointer;
    background: #808080;
    color: white;
}


.login-box-pat h1 {
	 margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 40px;
    color : white;
}

/*-------------------patient modifier----------------------*/
.login-box-pat-edit{
    width: 800px;
    height: 600px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box-pat-edit label{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box-pat input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box-pat-edit input[type="text"], input[type="date"], input[type="time"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box-pat-edit input[type="textarea"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    width: 600px;
    color: #fff;
    font-size: 16px;
}
.login-box-pat-edit button[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    width: 700px;
    background: #484848;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}
.login-box-pat-edit button[type="submit"]:hover
{
    cursor: pointer;
    background: #808080;
    color: white;
}


.login-box-pat-edit h1 {
	 margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 40px;
    color : white;
}
/*--------------------RDV modifier------------------*/
.login-box-rdv-edit{
    width: 800px;
    height: 510px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box-rdv-edit label{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box-pat input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box-rdv-edit input[type="text"], input[type="date"], input[type="time"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box-rdv-edit input[type="textarea"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    width: 600px;
    color: #fff;
    font-size: 16px;
}
.login-box-rdv-edit button[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    width: 700px;
    background: #484848;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}
.login-box-rdv-edit button[type="submit"]:hover
{
    cursor: pointer;
    background: #808080;
    color: white;
}


.login-box-rdv-edit h1 {
	 margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 40px;
    color : white;
}
/*--------------supprimer------------*/
.login-box-delete{
    width: 400px;
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.login-box-delete button[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    width: 350px;
    background: #484848;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}
.login-box-delete button[type="submit"]:hover
{
    cursor: pointer;
    background: #808080;
    color: white;
}


.login-box-delete h1 {
	 margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 40px;
    color : white;
}
.login-box-delete label{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box-delete input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box-delete input[type="text"], input[type="date"], input[type="time"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box-delete input[type="textarea"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    width: 600px;
    color: #fff;
    font-size: 16px;
}
/*-------------select--------------*/
.dropdown{
  margin:0 0px;
  vertical-align:bottom;
}

.dropdown{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
	/**/
  display:inline-block;
  position: relative;
  overflow:hidden;
  height:40px;
  width:150px;
  color: white;
  font-size: 16px;
  background:transparent;
  border:none;
  border-bottom: 1px solid #fff;
  outline: none;
}

.dropdown:before, .dropdown:after{
  content: '';
  position:absolute;
  z-index:2;
  top:9px;
  right:10px;
  width:0;
  height:0;
  border:4px dashed;
  border-color: #888888 transparent;
}

.dropdown:before{
  border-bottom : 1px solid #fff;
  border-top:none;
}

.dropdown:after{
  margin-top:7px;
  border-top: 1px solid #fff;
  border-bottom:none;
}

.dropdown-select{
  position:relative;
  width:130%;
  margin:0;
  padding:6px 8px 6px 10px;
  height:28px;
  line-height:14px;
  font-size:16px;
  color:white;
  background: transparent;
  background:rgba(0,0,0,0) !important;
  border:0;
  -webkit-appearance:none;
}

.dropdown-select:focus{
  outline:none;
  color:#888888;
}

.dropdown-select > option{
  margin:3px;
  padding:6px 8px;
  text-shadow:none;
  background:transparent;
  cursor:pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */
.lt-ie9 .dropdown {
  z-index: 1;
}
.lt-ie9 .dropdown-select {
  z-index: -1;
}
.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}


.button3{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    }
    .button3:hover{
    background-color:#4095c6;
    }
     .button3{
    display:block;
    margin:0.2em auto; }